* {
    box-sizing: border-box;
}
body {
    letter-spacing: 1px;
    line-height: 1.4rem;
    font-size: .96rem;
    color: #3d3d3d;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.wrapper {
    padding-left: 6px;
    margin-top: 5rem;
}
#sec{
    width: 100%;
    padding: 6px; 
}
#sec td{
    border:1px solid #eee;
    border-collapse:collapse;
    padding: 6px; 
}
#sec th{
    border: 2px solid rgb(128, 115, 115);
    background-color: grey;
}
#sec td{
    padding-left: 8px;
}
#table{
    border: 2px solid grey;
    background-color: #D2D2D9;
    border-collapse: collapse;
}
#table tr{
    font-size: 14px;
}
a:link{
    text-decoration:none;
    color:lightslategray;
    font-weight: bold;
    font-size: 1.02em;
}
a:visited{
    text-decoration:none;
    color:lightsalmon;
    background-color:transparent;
    font-weight: normal;
}
a:hover{
    text-decoration: underline;
    color: #003f64;
}
.nav {
    position: fixed;
    width:100%;
    background-color: rgba(61,61, 61);
    padding: 1.2rem;
    top:-.1rem;
}
h1 {  
    margin: 0;
    color: red;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.gap {
    border-collapse:separate;
    letter-spacing: 0;
    font-size: .8rem;
    border-spacing: 4.5px 0;
}
.gap th {
    border-radius: .4rem;
    background-color: #D9D9D9;
    padding: 0;
}
.gap img {
    border-radius: .4rem;
}
.sec {
    max-width: 100%;
}
@media screen and (max-width:600px) {
    .sec {
        width: 15.99%;
        padding: 0;
        margin: 0;
        overflow: auto;
    }
}


















